

<img src="{{ email.image('@images/ishtar-logo.png') }}" alt="Logo">

<h1>Hello </h1>

<h2>There are new order waiting to confirm by you</h2>

<h2>Order ID: {{ orderID }}</h2>

<p>Thank you</p>
<p>
    <a href="http://www.ishtar-art.de/admin">ISHTARADMIN</a> team.
</p>