
<img src="{{ email.image('@images/ishtar-logo.png') }}" alt="Logo">

<h1>Hello </h1>

<h2>Your order is complete and the product in shipping</h2>

<h2>Order ID: {{ orderID }}</h2>

<p>Thank you</p>
<p>
    <a href="http://www.ishtar-art.de/admin">ISHTAR</a> team.
</p>